.main {
    width: 600px;
    min-height: 100dvh;
    border-color: rgb(239, 243, 244);
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    height: 53px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.header h3 {
    font-weight: bold;
    font-size: 20px;
}

.room {
    padding: 16px;
    display: flex;
    flex-direction: row;
    transition-property: background-color;
    transition-duration: 0.2s;
    border-color: rgb(239, 243, 244);
    cursor: pointer;
}
.room:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.roomUserImage, .roomUserImage img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.roomChatInfo {
    display: flex;
    flex-direction: column;
    color: #536471;
    font-size: 15px;

}
.roomChatInfo b {
    color: black;
}

@media all and (max-width: 687px) {
  .main {
    width: 100%;
    min-width: 0;
  }
}

@media all and (max-width: 480px) {
  .main {
    border-left-width: 0;
    border-right-width: 0;
  }

  .header {
    padding: 0 12px;
  }

  .header h3 {
    font-size: 18px;
  }

  .room {
    padding: 12px;
  }

  .roomUserImage,
  .roomUserImage img {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }

  .roomChatInfo {
    font-size: 14px;
  }
}

@media all and (max-width: 320px) {
  .header {
    padding: 0 10px;
    height: 48px;
  }

  .header h3 {
    font-size: 16px;
  }

  .room {
    padding: 10px 8px;
  }

  .roomUserImage,
  .roomUserImage img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  .roomChatInfo {
    font-size: 13px;
  }
}