.container {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
}

.imageZone {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.imageZone .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

.imageZone img {
  display: none;
}

.buttonZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonInner {
  width: 600px;
  height: 60px;
}

.commentZone {
  width: 370px;
  background-color: white;
  border-left: 1px solid rgb(239, 243, 244);
  overflow: auto;
}

.closeButton {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton svg {
  fill: white;
}

.closeButton:hover {
  background-color: rgba(25, 25, 25, 0.75);
}

.btnWrapper {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.prevBtn::after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  border: 4px solid #fff;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 10%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: border-color 0.1s ease-in-out;
}

.nextBtn::after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%) rotate(135deg);
  border: 4px solid #fff;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 10%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: border-color 0.1s ease-in-out;
}

.prevBtn:hover::after,
.nextBtn:hover::after {
  border-color: rgb(29, 155, 240);
}

.btnWrapper .hidden {
  visibility: hidden;
}
