.main {
  width: 600px;
  border-color: rgb(239, 243, 244);
  border-right-width: 1px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.statusFixed {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  width: inherit;
}

.header {
  display: flex;
  height: 53px;
  align-items: center;
}

.headerTitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
}

.userZone {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(239, 243, 244);
  padding: 12px 16px;
  align-items: flex-start;
}

.userRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userFollower {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 8px;
}

.userImage {
  display: flex;
  align-items: center;
  margin-right: 12px;
  border-radius: 50%;
  width: 134px;
  height: 134px;
  border: 1px solid lightgray;
}
.userImage img {
  width: 134px;
  border-radius: 50%;
}
.userName {
  margin: 0 12px;
  flex: 1;
}
.userName > div:first-child {
  font-weight: bold;
  font-size: 20px;
}
.userName > div:last-child {
  font-size: 15px;
}
.followButton {
  border: 1px solid rgb(207, 217, 222);
  padding: 0 16px;
  border-radius: 17px;
  height: 34px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.followButton:hover {
  background-color: rgb(39, 44, 48);
}
.followButton.followed {
  background: white;
  color: black;
  border: 1px solid grey;
}
.followButton.followed:hover {
  background: lightgray;
}

.backButton {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.backButton:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

@media all and (max-width: 687px) {
  .main {
    width: 100%;
    min-width: 0;
  }
}

@media all and (max-width: 480px) {
  .main {
    border-left-width: 0;
    border-right-width: 0;
  }

  .headerTitle {
    font-size: 18px;
    margin-left: 16px;
  }

  .userZone {
    padding: 10px 12px;
  }

  .userImage,
  .userImage img {
    width: 100px;
    height: 100px;
  }

  .userName {
    margin: 0 10px;
  }

  .userName > div:first-child {
    font-size: 18px;
  }

  .userName > div:last-child {
    font-size: 14px;
  }

  .followButton {
    padding: 0 12px;
    height: 32px;
    font-size: 14px;
  }

  .backButton {
    width: 32px;
    height: 32px;
  }
}

@media all and (max-width: 320px) {
  .headerTitle {
    font-size: 16px;
    margin-left: 12px;
  }

  .userZone {
    padding: 8px 10px;
  }

  .userImage,
  .userImage img {
    width: 80px;
    height: 80px;
  }

  .userName {
    margin: 0 8px;
  }

  .userName > div:first-child {
    font-size: 16px;
  }

  .userName > div:last-child {
    font-size: 13px;
  }

  .followButton {
    padding: 0 10px;
    height: 30px;
    font-size: 13px;
  }

  .backButton {
    width: 30px;
    height: 30px;
  }
}