.container {
  padding: 12px 0;
  height: 66px;
  display: flex;
}

.userLogo {
  width: 40px;
  margin-right: 12px;
}

.userLogo,
.userLogo img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.userInfo {
  flex: 1;
}

.title {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.count {
  color: rgb(83, 100, 113);
  font-size: 13px;
  line-height: 16px;
}

.followButtonSection {
  width: 76px;
}

.followButtonSection button {
  border: none;
  cursor: pointer;
  width: 100%;
  color: white;
  background: #000;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  border-radius: 16px;
}

.followButtonSection .following {
  color: #000;
  background: white;
  border: 1px solid rgb(220, 220, 220);
}
.followButtonSection .following::after {
  content: '팔로잉';
}
.followButtonSection .following:hover::after {
  content: '언팔로우';
  color: rgb(255, 50, 50);
}

.followButtonSection .follow {
  color: white;
  background: #000;
}
.followButtonSection .follow:hover {
  background-color: rgb(39, 44, 48);
}
