.main {
  width: 600px;
  border-color: rgb(239, 243, 244);
  border-right-width: 1px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media all and (min-width: 687px) {
  .main {
    width: 600px;
  }
}

@media all and (max-width: 687px) {
  .main {
    width: 100%;
    min-width: 0;
  }
}

@media all and (max-width: 480px) {
  .main {
    border-left-width: 0;
    border-right-width: 0;
  }
}
@media (prefers-color-scheme: dark) {
  .main {
    border-color: rgb(47, 51, 54);
  }
}

.loader {
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
