.main {
    width: 600px;
    border-color: rgb(239, 243, 244);
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.formZone {
    padding-left: 16px;
    width: 566px;
    margin-bottom: 60px;
}

.trendBg {
    margin-top: 60px;
    background-color: rgb(247, 249, 249);
}
.trend {
    border-top: 1px solid rgb(239, 243, 244);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.trend h3 {
    padding: 12px 16px;
}

@media all and (max-width: 687px) {
  .main {
    width: 100%;
    min-width: 0;
  }

  .formZone {
    width: calc(100% - 32px);
    padding-left: 12px;
  }
}

@media all and (max-width: 480px) {
  .main {
    border-left-width: 0;
    border-right-width: 0;
  }

  .formZone {
    padding-left: 10px;
    margin-bottom: 50px;
  }

  .trendBg {
    margin-top: 50px;
  }

  .trend {
    font-size: 18px;
  }

  .trend h3 {
    padding: 10px 12px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 320px) {
  .formZone {
    padding-left: 8px;
    margin-bottom: 40px;
  }

  .trendBg {
    margin-top: 40px;
  }

  .trend {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .trend h3 {
    padding: 8px 10px;
    margin-bottom: 8px;
  }
}